.app {
  margin: 20px;
}
.balance {
  margin-left: 20px;
}
.negative.balance {
  color: red;
}
form {
  max-width: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

form > * {
  margin-top: 8px;
  margin-bottom: 4px;
}
